---
import BaseLayout from '../layouts/BaseLayout.astro';

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<BaseLayout pageTitle="Home">
	<main>
		<ul>
			<li><a href="https://paul.klink.au">Paul</a></li>
			<li><a href="https://pbkware.klink.au">Pbkware</a></li>
		</ul>
	</main>
</BaseLayout>

<style>
    /* Lists */
    @media screen and (min-Width: 331px) and (max-width: 430px) {
        ul {
            padding-left: 1em;
        }

        li > p {
            display: inline;
        }
    }

    /* Lists */
    @media screen and (max-width: 330px) {
        li {
            list-style-position: inside;
        }

        ul {
            padding-left: 0;
        }

        li > p {
            display: inline;
        }
    }

</style>
