---
// This page is used to create a index.html which redirects to klink.au
// Use index.html in the klink.id.au domain to redirect to the klink.au domain
---

<!doctype html>
<html lang="en">
	<head>
        <meta http-equiv="Refresh" content="0; URL=https://klink.au" />
	</head>
	<body>
	</body>
</html>
